@import "transition";

label {
	display: block;
	font-size: 12px;
}

input {
	outline: 0;
	font-size: 16px;
}

input[type="text"] {
	border: none;
	border-bottom: 1px solid #eee;
	@extend .monospace;
	@include transition(border);

	&:focus {
		border-bottom: 1px solid black !important;
	}
	
	&:hover {
		border-bottom: 1px solid #aaa;
	}
}
