@import "media";


.grid {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.grid-vertical {
        @extend .grid;
        flex-direction: column;
        justify-content: flex-start;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		flex-basis: percentage($i/12);
		&.margin {
			margin: 0 1em 0 1em;
		}
	}
	.col-m-#{$i} {
		@extend .col-#{$i};
		@include mobile {
			flex-basis: 100%;
		}
	}
}
