@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Open+Sans:300,400';
@import 'transition';

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Mono", monospace;
	font-weight: 300;
	margin: 1em 0 0.1em 0;
}

p {
	max-width: 40em;
}

.monospace, code {
	font-family: "Roboto Mono";
	font-size: 14px;
}

.center-text {
	text-align: center;
}

a {
	color: #2980b9;
	text-decoration: none;
	@include transition(color);

	&:hover {
		color: #3498db;
	}

	&:visited {
		color: #2980b9;
	}
}
