#map {
/*
	background-image: url("../map-mockup.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
*/
	background-color: #b2b2b2;
}

#panel {
	position: absolute;
	top: 0;
	right: 5vw;

	width: 450px;
	max-height: 100vh;

	@include transition(transform);
	transform: translateY(-100vh);

	pointer-events: initial;
	overflow-y: auto;

	&.active {
		transform: none;
	}
}
